.chevron-left {
    -fx-background-image: url("../resources/icons/chevron-left.png");
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.chevron-right {
    -fx-background-image: url("../resources/icons/chevron-right.png");
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.drawer-toggle {
    /*noinspection CssInvalidFunction*/
    -fx-background-color: rgb(255, 255, 255, 0.9);
}